.main-block {
width: 400px;
height: fit-content; 
padding: 10px 0;
margin: auto;
border-radius: 5px; 
box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.192); 
background-image: url("../css/img/form-envelope-img.jpg");
}

form {
margin: 0 30px;
}

.account-type, .gender {
margin: 15px 0;
}

input[type=radio] {
display: none;
}

label#icon {
margin: 0;
border-radius: 5px 0 0 5px;
}

label.radio {
position: relative;
display: inline-block;
padding-top: 4px;
margin-right: 20px;
text-indent: 30px;
overflow: visible;
cursor: pointer;
}

label.radio:before {
content: "";
position: absolute;
top: 2px;
left: 0;
width: 20px;
height: 20px;
border-radius: 50%;
background: var(--Xiketic);
}

label.radio:after {
content: "";
position: absolute;
width: 9px;
height: 4px;
top: 8px;
left: 4px;
border: 3px solid #fff;
border-top: none;
border-right: none;
transform: rotate(-45deg);
opacity: 0;
}

input[type=radio]:checked + label:after {
opacity: 1;
}

input[type=text], input[type=password], input[type=email], input[type=tel]{
font-family: 'Caveat', cursive;
outline: none;
font-size: 23px;
width: calc(100% - 57px);
height: 36px;
margin: 13px 0 0 -5px;
padding-left: 10px; 
border: none; 
background: transparent; 
}

input[type=password] {
margin-bottom: 15px;
}

#icon {
display: inline-block;
padding: 9.3px 15px;
box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
background: var(--Xiketic);
color: #fff;
text-align: center;
}

.btn-block{
    display: flex;
    justify-content: center;
}

.btn-block > button{
    width: 75%;
}

.inscription-social{
    margin-top: 30px;
    margin-bottom: 30px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 15px;
}

.inscription-social>*{
    min-width: 150px;
}

.fa {
    padding: 10px;
    font-size: 20px;
    border-radius: 15px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    transition: 0.7s;
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}
