{% extends "base.html" %}

{% block title %}Inscription{% endblock %}

{% block body %}

<div class="main-block">
    <h1>Connexion</h1>

    {% if erreur %}
    <div class="error-bubble">
       <p>{{ erreur }}</p>
    </div>
    {% endif %}
    
    <form action="connexionPost" method="post">      
      <label id="icon" for="emailU"><i class="fas fa-envelope"></i></label>
      <input type="email" name="emailU" id="emailU" placeholder="Adresse courriel" required/> 

      <label id="icon" for="passwordU"><i class="fas fa-unlock-alt"></i></label>
      <input type="password" name="passwordU" id="passwordU" placeholder="Mot de passe" required/>

      <hr>  
      <div class="btn-block">
        <button class="btns-actions" type="submit" href="/">Confirmer</button>
      </div>
      <hr>
        <h4>Connexion rapide</h4>
        <div class="inscription-social">
            <a href="#" class="fa fa-facebook"> Facebook</a>
            <a href="#" class="fa fa-twitter"> Twitter</a>
            <a href="#" class="fa fa-instagram"> Instagram</a>
            <a href="#" class="fa fa-google"> G-mail</a>
        </div>

        <hr>
    </form>
  </div>

{% endblock %}