{% extends "base.html" %}

{% block title %}Création d'enchère{% endblock %}

{% block body %}

<div class="main-block">
    <h1>Creation d'enchere</h1>
    {% if erreur %}
    <div class="error-bubble">
       <p>{{ erreur }}</p>
    </div>
    {% endif %}
    
    <form class="ajout-enchere" method="post" action="encherePost" enctype="multipart/form-data">

        <div><label for="image"><input type="file" accept="image/png, image/jpeg" required name="my_image" id="fileInput"></label></div>
        <!-- <div><img src="http://localhost/ProjetWeb1/public/img-upload/{{ imgPath }}" alt=""></div> -->

        <div>
          <label for="titreTimbre"><input type="text" name="titreTimbre" required placeholder="Entrez le titre du timbre...">  
           </label>
        </div>

        <div><label for="descriptionTimbre"><textarea name="descriptionTimbre" cols="30" 
          rows="10" placeholder="Entrez une description du timbre..."></textarea></label>
        </div>

        <div>
          <label for="quality">Condition:
            <select name="quality" id="quality" required>
              <option value="Parfaite">Parfaite</option>
              <option value="Medium">Medium</option>
              <option value="Medium/Basse">Medium/Basse</option>
              <option value="Basse">Basse</option>
            </select>
          </label>
        </div>

        <div><label for="startPrice">Prix initial:<input type="number" min="0" name="startPrice"></label></div>

        <div class="form-date">
          <label for="dateStart">Début:<input id="startDate" min="" type="date" name="dateStart"></label>
          <label for="dateEnd">Fin:<input id="endDate" min="" type="date" name="dateEnd"></label>
        </div>

        <div><input class="btns-actions" type="submit" name="submit" value="Upload"></div>

    </form>
  </div>

  <script>
    const today = new Date();
    document.getElementById("startDate").min = today.toISOString().split("T")[0];
  
    document.getElementById("startDate").addEventListener("input", function() {
      const startDate = new Date(this.value);
      const endDate = new Date(startDate.getTime() + 24 * 60 * 60 * 1000);
      document.getElementById("endDate").min = endDate.toISOString().split("T")[0];
    });

  </script>


{% endblock %}