{% extends "base.html" %}

{% block title %}Création d'enchère{% endblock %}

{% block body %}

<div class="main-block">
    <h1>Creation d'enchere</h1>
    {% if erreur %}
    <div class="error-bubble">
       <p>{{ erreur }}</p>
    </div>
    {% endif %}
    
    <form class="ajout-enchere" method="post" action="encherePost" enctype="multipart/form-data">

    <label for="image"><input type="file" accept="image/png, image/jpeg" name="my_image"></label>

    <label for="titreTimbre">Titre du timbre<input type="text" name="titreTimbre"></label>

    <label for="descriptionTimbre">Description <textarea name="descriptionTimbre" id="" cols="30" rows="10"></textarea></label>

    <label for="quality">Qualité de l'article:
        <select name="quality" id="quality">
        <option value="Parfaite">Parfaite</option>
        <option value="Medium">Medium</option>
        <option value="Medium/Basse">Medium/Basse</option>
        <option value="Basse">Basse</option>
      </select>
    </label>

    <label for="dateStart">Début<input type="date" name="dateStart"></label>

    <label for="dateEnd">Fin<input type="date" name="dateEnd"></label>

    <label for="startPrice">Prix initial<input type="number" name="startPrice"></label>

    <input type="submit" name="submit" value="Upload">

    </form>
  </div>

{% endblock %}