{% extends "base.html" %}

{% block title %}Page d'enchères{% endblock %}

{% block body %}

        <h1 class="h1Anim">Les Populaires</h1>

        <section class="presentation-cartes">
          
          <article class="article-base">

            <section class="separateur-flex">
              <div class="image-timbre">
                <img src="../../public/css/img/Timbre.png" alt="">
              </div>
              <div class="carte-droite">
                <h3>FRANCE 1862 NAPOLEON III SC#22 YT#19 </h3>
                <p>Napoléon III - Empire Franc, dentelé. Remplacé par le 20 centimes bleu au type Empire lauré émis en avril 1867. Premier timbre dentelé - Retiré en 1870</p>
              </div>
            </section>
            <section class="bas-carte">
                <div class="temps-restant">
                    <img src="../../public/css/img/clock.png" alt="">
                    <small>2j:6h:45m</small>
                </div>
                <div class="prix-cartes">
                  <pre>1,500,800$</pre>
                </div>
                <div class="interaction-cartes">
                    <button><img src="../../public/css/img/heart.png" alt=""></button>
                    <button><img src="../../public/css/img/bid.png" alt=""></button>
                    <a href="http://localhost/ProjetWeb1/public/timbre/leTimbre"><button><img src="../../public/css/img/plus.png" alt=""></button></a>
                </div>
               
            </section>
          </article>


          <article class="article-base">

            <section class="separateur-flex">
              <div class="image-timbre">
                <img src="../../public/css/img/rare-stamp-queen-victoriajpg.jpg" alt="">
              </div>
              <div class="carte-droite">
                <h3>Canada Stamp #74 - Queen Victoria (1898) ½¢</h3>
                
                <p>Never hinged with small white adhesion on the gum, but look at these HUGE elephant margins, wow!</p>
              </div>
            </section>
            <section class="bas-carte">
                <div class="temps-restant">
                    <img src="../../public/css/img/clock.png" alt="">
                    <small>2j:6h:45m</small>
                </div>
                <div class="prix-cartes">
                  <pre>5,800$</pre>
                </div>
                <div class="interaction-cartes">
                    <button><img src="../../public/css/img/heart.png" alt=""></button>
                    <button><img src="../../public/css/img/bid.png" alt=""></button>
                    <a href="http://localhost/ProjetWeb1/public/timbre/leTimbre"><button><img src="../../public/css/img/plus.png" alt=""></button></a>
                </div>
               
            </section>
          </article>

          <article class="article-base">

            <section class="separateur-flex">
              <div class="image-timbre">
                <img src="../../public/css/img/stamp-printed-canada-shows-queen-elizabeth.jpg" alt="">
              </div>
              <div class="carte-droite">
                <h3>Canada Stamp #329 - Queen Elizabeth II (1953) 5¢</h3>
                
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem illum sunt, adipisci officia pariatur doloribus ut impedit soluta placeat ad itaque, error, expedita deleniti ducimus tempore amet laudantium numquam animi!</p>
              </div>
            </section>
            <section class="bas-carte">
                <div class="temps-restant">
                    <img src="../../public/css/img/clock.png" alt="">
                    <small>2j:6h:45m</small>
                </div>
                <div class="prix-cartes">
                  <pre>770$</pre>
                </div>
                <div class="interaction-cartes">
                    <button><img src="../../public/css/img/heart.png" alt=""></button>
                    <button><img src="../../public/css/img/bid.png" alt=""></button>
                    <a href="http://localhost/ProjetWeb1/public/timbre/leTimbre"><button><img src="../../public/css/img/plus.png" alt=""></button></a>
                </div>
               
            </section>
          </article>

          <article class="article-base">

            <section class="separateur-flex">
              <div class="image-timbre">
                <img src="../../public/css/img/canada-stamp-95-edward-vii-50-1908.jpg" alt="">
              </div>
              <div class="carte-droite">
                <h3>Canada Stamp #95 - Edward VII (1908) 50¢</h3>
                
                <p>Beautiful never hinged copy of the highest value Kind Edward VII issue! These stamps are extremely rare never hinged with good centring and therefore command huge premiums in the catalogue. This copy is a great one with two big margins plus two decent ones and certified by Vincent Graves Greene.</p>
              </div>
            </section>
            <section class="bas-carte">
                <div class="temps-restant">
                    <img src="../../public/css/img/clock.png" alt="">
                    <small>2j:6h:45m</small>
                </div>
                <div class="prix-cartes">
                  <pre>1,500$</pre>
                </div>
                <div class="interaction-cartes">
                    <button><img src="../../public/css/img/heart.png" alt=""></button>
                    <button><img src="../../public/css/img/bid.png" alt=""></button>
                    <a href="http://localhost/ProjetWeb1/public/timbre/leTimbre"><button><img src="../../public/css/img/plus.png" alt=""></button></a>
                </div>
               
            </section>
          </article>

          <article class="article-base">

            <section class="separateur-flex">
              <div class="image-timbre">
                <img src="../../public/css/img/044_001.jpg" alt="">
              </div>
              <div class="carte-droite">
                <h3>France 1965 Sc#1024b, SG#1562a 25c Gallic Cock Rooster</h3>
                
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem illum sunt, adipisci officia pariatur doloribus ut impedit soluta placeat ad itaque, error, expedita deleniti ducimus tempore amet laudantium numquam animi!</p>
              </div>
            </section>
            <section class="bas-carte">
                <div class="temps-restant">
                    <img src="../../public/css/img/clock.png" alt="">
                    <small>2j:6h:45m</small>
                </div>
                <div class="prix-cartes">
                  <pre>2,210$</pre>
                </div>
                <div class="interaction-cartes">
                    <button><img src="../../public/css/img/heart.png" alt=""></button>
                    <button><img src="../../public/css/img/bid.png" alt=""></button>
                    <a href="http://localhost/ProjetWeb1/public/timbre/leTimbre"><button><img src="../../public/css/img/plus.png" alt=""></button></a>
                </div>
               
            </section>
          </article>

          <article class="article-base">

            <section class="separateur-flex">
              <div class="image-timbre">
                <img src="../../public/css/img/russie-vers-timbre.jpg" alt="">
              </div>
              <div class="carte-droite">
                <h3>RUSSIA - CIRCA 1960: Rare stamp printed in USSR</h3>
                
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem illum sunt, adipisci officia pariatur doloribus ut impedit soluta placeat ad itaque, error, expedita deleniti ducimus tempore amet laudantium numquam animi!</p>
              </div>
            </section>
            <section class="bas-carte">
                <div class="temps-restant">
                    <img src="../../public/css/img/clock.png" alt="">
                    <small>2j:6h:45m</small>
                </div>
                <div class="prix-cartes">
                  <pre>930$</pre>
                </div>
                <div class="interaction-cartes">
                    <button><img src="../../public/css/img/heart.png" alt=""></button>
                    <button><img src="../../public/css/img/bid.png" alt=""></button>
                    <a href="http://localhost/ProjetWeb1/public/timbre/leTimbre"><button><img src="../../public/css/img/plus.png" alt=""></button></a>
                </div>
               
            </section>
          </article>

          <article class="article-base">

            <section class="separateur-flex">
              <div class="image-timbre">
                <img src="../../public/css/img/avion-rare-de-cru-d-exposition-de-timbre.jpg" alt="">
              </div>
              <div class="carte-droite">
                <h3>L'URSS - CIRCA 1976 : avion rare de cru d'exposition de timbre-poste</h3>
                
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem illum sunt, adipisci officia pariatur doloribus ut impedit soluta placeat ad itaque, error, expedita deleniti ducimus tempore amet laudantium numquam animi!</p>
              </div>
            </section>
            <section class="bas-carte">
                <div class="temps-restant">
                    <img src="../../public/css/img/clock.png" alt="">
                    <small>2j:6h:45m</small>
                </div>
                <div class="prix-cartes">
                  <pre>5,800$</pre>
                </div>
                <div class="interaction-cartes">
                    <button><img src="../../public/css/img/heart.png" alt=""></button>
                    <button><img src="../../public/css/img/bid.png" alt=""></button>
                    <a href="http://localhost/ProjetWeb1/public/timbre/leTimbre"><button><img src="../../public/css/img/plus.png" alt=""></button></a>
                </div>
               
            </section>
          </article>

          <article class="article-base">

            <section class="separateur-flex">
              <div class="image-timbre">
                <img src="../../public/css/img/us-stamp-postage-issues-2721-elvis-presley-29-1993.jpg" alt="">
              </div>
              <div class="carte-droite">
                <h3>Elvis Presley 29 cent stamp</h3>
                
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem illum sunt, adipisci officia pariatur doloribus ut impedit soluta placeat ad itaque, error, expedita deleniti ducimus tempore amet laudantium numquam animi!</p>
              </div>
            </section>
            <section class="bas-carte">
                <div class="temps-restant">
                    <img src="../../public/css/img/clock.png" alt="">
                    <small>2j:6h:45m</small>
                </div>
                <div class="prix-cartes">
                  <pre>80$</pre>
                </div>
                <div class="interaction-cartes">
                    <button><img src="../../public/css/img/heart.png" alt=""></button>
                    <button><img src="../../public/css/img/bid.png" alt=""></button>
                    <a href="http://localhost/ProjetWeb1/public/timbre/leTimbre"><button><img src="../../public/css/img/plus.png" alt=""></button></a>
                </div>
               
            </section>
          </article>

          <article class="article-base">

            <section class="separateur-flex">
              <div class="image-timbre">
                <img src="../../public/css/img/vintage-stamps-stamp-collecting.jpg" alt="">
              </div>
              <div class="carte-droite">
                <h3>Islands 1½ (1943) - Curaçao - LastDodo</h3>
                
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem illum sunt, adipisci officia pariatur doloribus ut impedit soluta placeat ad itaque, error, expedita deleniti ducimus tempore amet laudantium numquam animi!</p>
              </div>
            </section>
            <section class="bas-carte">
                <div class="temps-restant">
                    <img src="../../public/css/img/clock.png" alt="">
                    <small>2j:6h:45m</small>
                </div>
                <div class="prix-cartes">
                  <pre>500$</pre>
                </div>
                <div class="interaction-cartes">
                    <button><img src="../../public/css/img/heart.png" alt=""></button>
                    <button><img src="../../public/css/img/bid.png" alt=""></button>
                    <a href="http://localhost/ProjetWeb1/public/timbre/leTimbre"><button><img src="../../public/css/img/plus.png" alt=""></button></a>
                </div>
               
            </section>
          </article>

       
        </section>


        <section class="carrousel">
          <div class="banner-nav">
            <button class="btn-arrow"><img src="../../public/css/img/left-arrow.png" alt="left"></button>
            <div class="action-btn"><button class="btns-actions">Voir les horaires &nbsp<img src="../../public/css/img/calendarIcon.png" alt=""></button></div>
            <button class="btn-arrow"><img src="../../public/css/img/right-arrow.png" alt="left"></button>
          </div>
           <img src="../../public/css/img/banniere-web.png" alt="Les encheres sont de retours!">
        </section>

        <h1 class="h1Anim">Selon vos gouts</h1>

        <section class="presentation-cartes">
          
          <article class="article-base">

            <section class="separateur-flex">
              <div class="image-timbre">
                <img src="../../public/css/img/Timbre.png" alt="">
              </div>
              <div class="carte-droite">
                <h3>FRANCE 1862 NAPOLEON III SC#22 YT#19 </h3>
                <p>Napoléon III - Empire Franc, dentelé. Remplacé par le 20 centimes bleu au type Empire lauré émis en avril 1867. Premier timbre dentelé - Retiré en 1870</p>
              </div>
            </section>
            <section class="bas-carte">
                <div class="temps-restant">
                    <img src="../../public/css/img/clock.png" alt="">
                    <small>2j:6h:45m</small>
                </div>
                <div class="prix-cartes">
                  <pre>1,500,800$</pre>
                </div>
                <div class="interaction-cartes">
                    <button><img src="../../public/css/img/heart.png" alt=""></button>
                    <button><img src="../../public/css/img/bid.png" alt=""></button>
                    <a href="http://localhost/ProjetWeb1/public/timbre/leTimbre"><button><img src="../../public/css/img/plus.png" alt=""></button></a>
                </div>
               
            </section>
          </article>


          <article class="article-base">

            <section class="separateur-flex">
              <div class="image-timbre">
                <img src="../../public/css/img/rare-stamp-queen-victoriajpg.jpg" alt="">
              </div>
              <div class="carte-droite">
                <h3>Canada Stamp #74 - Queen Victoria (1898) ½¢</h3>
                
                <p>Never hinged with small white adhesion on the gum, but look at these HUGE elephant margins, wow!</p>
              </div>
            </section>
            <section class="bas-carte">
                <div class="temps-restant">
                    <img src="../../public/css/img/clock.png" alt="">
                    <small>2j:6h:45m</small>
                </div>
                <div class="prix-cartes">
                  <pre>5,800$</pre>
                </div>
                <div class="interaction-cartes">
                    <button><img src="../../public/css/img/heart.png" alt=""></button>
                    <button><img src="../../public/css/img/bid.png" alt=""></button>
                    <a href="http://localhost/ProjetWeb1/public/timbre/leTimbre"><button><img src="../../public/css/img/plus.png" alt=""></button></a>
                </div>
               
            </section>
          </article>

          <article class="article-base">

            <section class="separateur-flex">
              <div class="image-timbre">
                <img src="../../public/css/img/stamp-printed-canada-shows-queen-elizabeth.jpg" alt="">
              </div>
              <div class="carte-droite">
                <h3>Canada Stamp #329 - Queen Elizabeth II (1953) 5¢</h3>
                
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem illum sunt, adipisci officia pariatur doloribus ut impedit soluta placeat ad itaque, error, expedita deleniti ducimus tempore amet laudantium numquam animi!</p>
              </div>
            </section>
            <section class="bas-carte">
                <div class="temps-restant">
                    <img src="../../public/css/img/clock.png" alt="">
                    <small>2j:6h:45m</small>
                </div>
                <div class="prix-cartes">
                  <pre>770$</pre>
                </div>
                <div class="interaction-cartes">
                    <button><img src="../../public/css/img/heart.png" alt=""></button>
                    <button><img src="../../public/css/img/bid.png" alt=""></button>
                    <a href="http://localhost/ProjetWeb1/public/timbre/leTimbre"><button><img src="../../public/css/img/plus.png" alt=""></button></a>
                </div>
               
            </section>
          </article>

          <article class="article-base">

            <section class="separateur-flex">
              <div class="image-timbre">
                <img src="../../public/css/img/canada-stamp-95-edward-vii-50-1908.jpg" alt="">
              </div>
              <div class="carte-droite">
                <h3>Canada Stamp #95 - Edward VII (1908) 50¢</h3>
                
                <p>Beautiful never hinged copy of the highest value Kind Edward VII issue! These stamps are extremely rare never hinged with good centring and therefore command huge premiums in the catalogue. This copy is a great one with two big margins plus two decent ones and certified by Vincent Graves Greene.</p>
              </div>
            </section>
            <section class="bas-carte">
                <div class="temps-restant">
                    <img src="../../public/css/img/clock.png" alt="">
                    <small>2j:6h:45m</small>
                </div>
                <div class="prix-cartes">
                  <pre>1,500$</pre>
                </div>
                <div class="interaction-cartes">
                    <button><img src="../../public/css/img/heart.png" alt=""></button>
                    <button><img src="../../public/css/img/bid.png" alt=""></button>
                    <a href="http://localhost/ProjetWeb1/public/timbre/leTimbre"><button><img src="../../public/css/img/plus.png" alt=""></button></a>
                </div>
               
            </section>
          </article>

          <article class="article-base">

            <section class="separateur-flex">
              <div class="image-timbre">
                <img src="../../public/css/img/044_001.jpg" alt="">
              </div>
              <div class="carte-droite">
                <h3>France 1965 Sc#1024b, SG#1562a 25c Gallic Cock Rooster</h3>
                
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem illum sunt, adipisci officia pariatur doloribus ut impedit soluta placeat ad itaque, error, expedita deleniti ducimus tempore amet laudantium numquam animi!</p>
              </div>
            </section>
            <section class="bas-carte">
                <div class="temps-restant">
                    <img src="../../public/css/img/clock.png" alt="">
                    <small>2j:6h:45m</small>
                </div>
                <div class="prix-cartes">
                  <pre>2,210$</pre>
                </div>
                <div class="interaction-cartes">
                    <button><img src="../../public/css/img/heart.png" alt=""></button>
                    <button><img src="../../public/css/img/bid.png" alt=""></button>
                    <a href="http://localhost/ProjetWeb1/public/timbre/leTimbre"><button><img src="../../public/css/img/plus.png" alt=""></button></a>
                </div>
               
            </section>
          </article>

          <article class="article-base">

            <section class="separateur-flex">
              <div class="image-timbre">
                <img src="../../public/css/img/russie-vers-timbre.jpg" alt="">
              </div>
              <div class="carte-droite">
                <h3>RUSSIA - CIRCA 1960: Rare stamp printed in USSR</h3>
                
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem illum sunt, adipisci officia pariatur doloribus ut impedit soluta placeat ad itaque, error, expedita deleniti ducimus tempore amet laudantium numquam animi!</p>
              </div>
            </section>
            <section class="bas-carte">
                <div class="temps-restant">
                    <img src="../../public/css/img/clock.png" alt="">
                    <small>2j:6h:45m</small>
                </div>
                <div class="prix-cartes">
                  <pre>930$</pre>
                </div>
                <div class="interaction-cartes">
                    <button><img src="../../public/css/img/heart.png" alt=""></button>
                    <button><img src="../../public/css/img/bid.png" alt=""></button>
                    <a href="http://localhost/ProjetWeb1/public/timbre/leTimbre"><button><img src="../../public/css/img/plus.png" alt=""></button></a>
                </div>
               
            </section>
          </article>

          <article class="article-base">

            <section class="separateur-flex">
              <div class="image-timbre">
                <img src="../../public/css/img/avion-rare-de-cru-d-exposition-de-timbre.jpg" alt="">
              </div>
              <div class="carte-droite">
                <h3>L'URSS - CIRCA 1976 : avion rare de cru d'exposition de timbre-poste</h3>
                
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem illum sunt, adipisci officia pariatur doloribus ut impedit soluta placeat ad itaque, error, expedita deleniti ducimus tempore amet laudantium numquam animi!</p>
              </div>
            </section>
            <section class="bas-carte">
                <div class="temps-restant">
                    <img src="../../public/css/img/clock.png" alt="">
                    <small>2j:6h:45m</small>
                </div>
                <div class="prix-cartes">
                  <pre>5,800$</pre>
                </div>
                <div class="interaction-cartes">
                    <button><img src="../../public/css/img/heart.png" alt=""></button>
                    <button><img src="../../public/css/img/bid.png" alt=""></button>
                    <a href="http://localhost/ProjetWeb1/public/timbre/leTimbre"><button><img src="../../public/css/img/plus.png" alt=""></button></a>
                </div>
               
            </section>
          </article>

          <article class="article-base">

            <section class="separateur-flex">
              <div class="image-timbre">
                <img src="../../public/css/img/us-stamp-postage-issues-2721-elvis-presley-29-1993.jpg" alt="">
              </div>
              <div class="carte-droite">
                <h3>Elvis Presley 29 cent stamp</h3>
                
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem illum sunt, adipisci officia pariatur doloribus ut impedit soluta placeat ad itaque, error, expedita deleniti ducimus tempore amet laudantium numquam animi!</p>
              </div>
            </section>
            <section class="bas-carte">
                <div class="temps-restant">
                    <img src="../../public/css/img/clock.png" alt="">
                    <small>2j:6h:45m</small>
                </div>
                <div class="prix-cartes">
                  <pre>80$</pre>
                </div>
                <div class="interaction-cartes">
                    <button><img src="../../public/css/img/heart.png" alt=""></button>
                    <button><img src="../../public/css/img/bid.png" alt=""></button>
                    <a href="http://localhost/ProjetWeb1/public/timbre/leTimbre"><button><img src="../../public/css/img/plus.png" alt=""></button></a>
                </div>
               
            </section>
          </article>

          <article class="article-base">

            <section class="separateur-flex">
              <div class="image-timbre">
                <img src="../../public/css/img/vintage-stamps-stamp-collecting.jpg" alt="">
              </div>
              <div class="carte-droite">
                <h3>Islands 1½ (1943) - Curaçao - LastDodo</h3>
                
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem illum sunt, adipisci officia pariatur doloribus ut impedit soluta placeat ad itaque, error, expedita deleniti ducimus tempore amet laudantium numquam animi!</p>
              </div>
            </section>
            <section class="bas-carte">
                <div class="temps-restant">
                    <img src="../../public/css/img/clock.png" alt="">
                    <small>2j:6h:45m</small>
                </div>
                <div class="prix-cartes">
                  <pre>500$</pre>
                </div>
                <div class="interaction-cartes">
                    <button><img src="../../public/css/img/heart.png" alt=""></button>
                    <button><img src="../../public/css/img/bid.png" alt=""></button>
                    <a href="http://localhost/ProjetWeb1/public/timbre/leTimbre"><button><img src="../../public/css/img/plus.png" alt=""></button></a>
                </div>
               
            </section>
          </article>

       
        </section>

        <h1 class="h1Anim">Les nouveaux</h1>

        <section class="presentation-cartes">

        {% for timbre in timbres %}
          <article class="article-base">

            <section class="separateur-flex">
              <div class="image-timbre">
                <img src="http://localhost/ProjetWeb1/public/img-upload/{{ imgPath }}" alt="">
              </div>
              <div class="carte-droite">
                <h3> {{ timbre.titreTimbre }} </h3>
                <p>{{ timbre.descriptionTimbre }}</p>
              </div>
            </section>
            <section class="bas-carte">
                <div class="temps-restant">
                    <img src="../../public/css/img/clock.png" alt="">
                    <small class="timer"></small>
                </div>
                <div class="prix-cartes">
                  <pre>{{ timbre.startPrice }}$</pre>
                </div>
                <div class="interaction-cartes">
                    <button><img src="../../public/css/img/heart.png" alt=""></button>
                    <button class="bid-button"><img src="../../public/css/img/bid.png" alt=""></button>
                    <a href="http://localhost/ProjetWeb1/public/timbre/leTimbre"><button><img src="../../public/css/img/plus.png" alt=""></button></a>
                </div>
               
            </section>
          </article>
        {% endfor %}  
        </section>

      <section class="liens-images">

          <div class="cadre-img">
            <h1 class="h1Anim">Par collection</h1>
            <img src="../../public/css/img/post-collection.jpg" alt="">
          </div>

          <div class="liens-rapides">
              
            <div class="boite-lien monarchie">
              <button>La monarchie</button>
            </div>
            <div class="boite-lien deuxiemeGuerre">
              <button>La deuxième guerre mondiale</button>
            </div>
            <div class="boite-lien default">
              <button>Les défaults de fabrications</button>
            </div>
            <div class="boite-lien rares">
              <button>Les plus rares</button>
            </div>
            <div class="boite-lien monde">
              <button>À travers le monde</button>
            </div>
            <div class="boite-lien approuve">
              <button>Approuvé par le Lord</button>
            </div>
        </section>
      </section>

      
<script>
  function updateTimer() {
    const timers = document.querySelectorAll('.timer');
    timers.forEach(timer => {
      var endTime = {{ timbre.dateEnd|json_encode|raw }};
      endTime = new Date(endTime).getTime();
      const now = new Date();
      const difference = endTime - now;
  
      const days = Math.floor(difference / (1000 * 60 * 60 * 24));
      const hours = Math.floor((difference % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      const minutes = Math.floor((difference % (1000 * 60 * 60)) / (1000 * 60));
      const seconds = Math.floor((difference % (1000 * 60)) / 1000);
  
      timer.innerHTML = `${days}j:${hours}:${minutes}:${seconds}`;
    });
  }
  
  setInterval(updateTimer, 1000);
  </script>

<script>
  const bidButtons = document.querySelectorAll('.bid-button');
  bidButtons.forEach(button => {
    button.addEventListener('click', () => {
      const popup = document.createElement('div');
      popup.style.position = 'fixed';
      popup.style.top = '50%';
      popup.style.left = '50%';
      popup.style.transform = 'translate(-50%, -50%)';
      popup.style.backgroundColor = 'white';
      popup.style.padding = '1rem';
      popup.style.borderRadius = '0.5rem';
      popup.innerHTML = 'You clicked the bid button!';
      document.body.appendChild(popup);
    });
    });
</script>
{% endblock %}

      